In [1]:
import pandas as pd
import wget

In [2]:
# url of the raw csv dataset
urls = [
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
]
[wget.download(url) for url in urls]

['time_series_covid19_confirmed_global (3).csv',
 'time_series_covid19_deaths_global (3).csv',
 'time_series_covid19_recovered_global (3).csv']

In [3]:
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [4]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/24/20,6/25/20,6/26/20,6/27/20,6/28/20,6/29/20,6/30/20,7/1/20,7/2/20,7/3/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,29640,30175,30451,30616,30967,31238,31517,31836,32022,32324
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2114,2192,2269,2330,2402,2466,2535,2580,2662,2752
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,12248,12445,12685,12968,13273,13571,13907,14272,14657,15070
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,197,212,212,259,267,276,284,291,315,328

In [5]:
confirmed_df.columns
deaths_df.columns
recovered_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/24/20', '6/25/20', '6/26/20', '6/27/20', '6/28/20', '6/29/20',
       '6/30/20', '7/1/20', '7/2/20', '7/3/20'],
      dtype='object', length=168)

In [8]:
confirmed_df.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '6/24/20', '6/25/20', '6/26/20', '6/27/20', '6/28/20', '6/29/20',
       '6/30/20', '7/1/20', '7/2/20', '7/3/20'],
      dtype='object', length=164)

In [11]:
dates = confirmed_df.columns[4:]
confirmed_df_long = confirmed_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Confirmed')
deaths_df_long = deaths_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Deaths')
recovered_df_long = recovered_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Recovered')

In [12]:
confirmed_df_long

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
43619,NaN,Sao Tome and Principe,0.186360,6.613081,7/3/20,719
43620,NaN,Yemen,15.552727,48.516388,7/3/20,1240
43621,NaN,Comoros,-11.645500,43.333300,7/3/20,309
43622,NaN,Tajikistan,38.861034,71.276093,7/3/20,6058
43623,NaN,Lesotho,-29.609988,28.233608,7/3/20,35

In [13]:
recovered_df_long = recovered_df_long[recovered_df_long['Country/Region']!='Canada']

In [14]:
# Merging confirmed_df_long and deaths_df_long
full_table = confirmed_df_long.merge(
  right=deaths_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)
# Merging full_table and recovered_df_long
full_table = full_table.merge(
  right=recovered_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [20]:
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [21]:
full_table.isna().sum()

Province/State    30340
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths              164
Recovered             0
dtype: int64

In [26]:
full_table['Recovered'] = full_table['Recovered'].fillna(0)

In [27]:
ship_rows = full_table['Province/State'].str.contains('Grand Princess') | full_table['Province/State'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('MS Zaandam')
full_ship = full_table[ship_rows]

In [29]:
full_table = full_table[~(ship_rows)]

In [31]:
# Active Case = confirmed - deaths - recovered
full_table['Active'] = full_table['Confirmed'] - full_table['Deaths'] - full_table['Recovered']

In [32]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0.0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0.0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0.0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0.0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
43619,NaN,Sao Tome and Principe,0.186360,6.613081,2020-07-03,719,13.0,267.0,439.0
43620,NaN,Yemen,15.552727,48.516388,2020-07-03,1240,335.0,536.0,369.0
43621,NaN,Comoros,-11.645500,43.333300,2020-07-03,309,7.0,241.0,61.0
43622,NaN,Tajikistan,38.861034,71.276093,2020-07-03,6058,52.0,4690.0,1316.0
43623,NaN,Lesotho,-29.609988,28.233608,2020-07-03,35,0.0,11.0,24.0

In [33]:
full_grouped = full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

/Users/shabeeherizvi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [34]:
full_grouped

            Date      Country/Region  Confirmed  Deaths  Recovered  Active
0     2020-01-22         Afghanistan          0     0.0        0.0     0.0
1     2020-01-22             Albania          0     0.0        0.0     0.0
2     2020-01-22             Algeria          0     0.0        0.0     0.0
3     2020-01-22             Andorra          0     0.0        0.0     0.0
4     2020-01-22              Angola          0     0.0        0.0     0.0
...          ...                 ...        ...     ...        ...     ...
30499 2020-07-03  West Bank and Gaza       3334    11.0      463.0  2860.0
30500 2020-07-03      Western Sahara         10     1.0        8.0     1.0
30501 2020-07-03               Yemen       1240   335.0      536.0   369.0
30502 2020-07-03              Zambia       1632    30.0     1348.0   254.0
30503 2020-07-03            Zimbabwe        625     7.0      176.0   442.0

[30504 rows x 6 columns]

In [50]:
full_grouped

,Unnamed: 0,Date,Country/Region,Confirmed,Deaths,Recovered,Active
0,0,2020-01-22,Afghanistan,0,0.0,0.0,0.0
1,1,2020-01-22,Albania,0,0.0,0.0,0.0
2,2,2020-01-22,Algeria,0,0.0,0.0,0.0
3,3,2020-01-22,Andorra,0,0.0,0.0,0.0
4,4,2020-01-22,Angola,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
30499,30499,2020-07-03,West Bank and Gaza,3334,11.0,463.0,2860.0
30500,30500,2020-07-03,Western Sahara,10,1.0,8.0,1.0
30501,30501,2020-07-03,Yemen,1240,335.0,536.0,369.0
30502,30502,2020-07-03,Zambia,1632,30.0,1348.0,254.0
30503,30503,2020-07-03,Zimbabwe,625,7.0,176.0,442.0

In [51]:
full_grouped.to_csv('COVID-19-time-series-clean-complete.csv')

In [52]:
import pandas as pd
import altair as alt
full_grouped = pd.read_csv('COVID-19-time-series-clean-complete.csv', parse_dates=['Date'])
uk = full_grouped[full_grouped['Country/Region'] == 'United Kingdom']

In [53]:
base = alt.Chart(uk).mark_bar().encode(
    x='monthdate(Date):O',
).properties(
    width=500
)

In [54]:
red = alt.value("#f54242")
base.encode(y='Confirmed').properties(title='Total confirmed')| base.encode(y='Deaths', color=red).properties(title='Total deaths')

alt.HConcatChart(...)